{% extends 'main/base.html'%}

{% block css %}
    input[type=text] {
            background-color: #FFFFFF;
            width: 40%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    input[type=number] {
            background-color: #FFFFFF;
            width: 30%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<form action="{% url 'main:add_product' %}" method="post">
    {% csrf_token %}
    <p>
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" required>
    </p>

    <p>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
    </p>
    <p>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
    </p>
    <p>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>
    </p>
    <button type="submit">Добавить Товар</button>
</form>
{% endblock %}