{% extends 'main/base.html'%}

{% block content %}
<h1>{{ title }}</h1>
{% if not offset %}
<table id="productTable">
    <caption>Детали заказа</caption>
    <thead>
    <tr>
        <th>ID Товара</th>
        <th>Название товара</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Общая Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for detail in order_detail %}
    <tr>
        <td>{{ detail.product.id }}</td>
        <td>{{ detail.product.name }}</td>
        <td>{{ detail.product.description }}</td>
        <td>{{ detail.product.price }}</td>
        <td>{{ detail.quantity }}</td>
        <td>{{ detail.total_amount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<table id="barterTable">
    <caption>Товары на бартер</caption>
    <thead>
    <tr>
        <th>ID Товара</th>
        <th>Название товара</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Общая Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for detail in products_barter %}
    <tr>
        <td>{{ detail.product.id }}</td>
        <td>{{ detail.product.name }}</td>
        <td>{{ detail.product.description }}</td>
        <td>{{ detail.product.price }}</td>
        <td>{{ detail.quantity }}</td>
        <td>{{ detail.total_amount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table id="sumTable">
    <thead>
    <tr>
        {% if not offset %}
        <th>Стоимость Заказа</th>
        {% endif %}
        <th>Бартер</th>
        <th>Остаток</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% if not offset %}
        <td>{{ total_amount_order }}</td>
        {% endif %}
        <td>{{ total_amount_barter }}</td>
        <td>{{ total_amount }}</td>
    </tr>
    </tbody>
</table>
<form action="{% url 'main:barter' order_id %}" method="post">
    {% csrf_token %}
    <p>
        <label for="product">Товар:</label>
        <select id="product" name="product">
            {% for product in products %}
            <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select>
    </p>

    <label for="quantity">Количество:</label>
    <input type="text" id="quantity" name="quantity" required>
    <button type="submit">Добавить Товар</button>
    {% if flag %}
    <a href="{% url 'main:index' %}" class="btn">Сохранить</a>
    {% endif %}
</form>

{% endblock %}