{% extends 'main/base.html'%}

{% block css %}
    input[type=number] {
            background-color: #FFFFFF;
            width: 20%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<table id="productTable">
    <caption>Детали заказа</caption>
    <thead>
    <tr>
        <th>ID Товара</th>
        <th>Название товара</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Остаток</th>
        <th>Общая Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for detail in order_detail %}
    <tr>
        <td>{{ detail.product.id }}</td>
        <td>{{ detail.product.name }}</td>
        <td>{{ detail.product.description }}</td>
        <td>{{ detail.product.price }}</td>
        <td>{{ detail.quantity }}</td>
        <td>{{ detail.product.quantity }}</td>
        <td>{{ detail.total_amount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<form action="{% url 'main:create_order_detail' order_id product_id %}" method="post">
    {% csrf_token %}
    <div>
        {{ product_form }}
    </div>
    <div>
        {{ quantity_form }}
    </div>
    <div>
        <h4>Остаток: {{ product_f.quantity }}</h4>
    </div>
    <div>
        <h4>Общая сумма заказа: {{ total_amount_order}}</h4>
    </div>
    <button type="submit">Добавить Товар</button>
    {% if flag %}
    <a href="{% url 'main:barter' order_id %}" class="btn">Товары для Бартера</a>
    {% else %}
    <a href="{% url 'main:index' %}" class="btn">Сохранить</a>
    {% endif %}
</form>
{% endblock %}