{% extends 'main/base.html'%}

{% block css %}
{% endblock %}

{% block content %}
<form action="{% url 'main:customers' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Найти Клиента</button>
    <a href="{% url 'main:index' %}" class="btn">Выйти</a>
</form>
{% if valid %}
<table>
    <thead>
    <tr>
        <th>Клиент</th>
        <th>Сумма покупок</th>
        <th>Текущий счёт</th>
        <th>Поталок кредита</th>
        <th>Долг</th>
        <th>Остаток по кредиту</th>
        <th>Комментарий</th>
        <th></th>
    </tr>
    </thead>

    <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.total_amount }}</td>
        <td>{{ customer.current_amount }}</td>
        <td>{{ customer.loan }}</td>
        <td>{{ customer.debt }}</td>
        <td>{{ customer.loan_balance }}</td>
        <td>{{ customer.comment }}</td>
        <td>
            <a href="{% url 'main:customer_order' customer_id %}" class="btn">Заказы</a>
        </td>
    </tr>
</table>
{% else %}
    {{ customer }}
{% endif %}
{% endblock %}