{% extends 'main/base.html'%}

{% block css %}
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f2f2f2;
        }

        .card {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        .a {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px;
        }
    </style>
{% endblock %}

{% block content %}
<h1>Sales Operator Workplace</h1>
<div>
    <a href="{% url 'main:customers' %}">Открыть базу клиентов</a>
    <a href="{% url 'main:products_list' %}">Открыть базу товаров</a>
    <a href="{% url 'main:create_order' %}">Создать новый заказ</a>
</div>
{% endblock %}

