{% extends 'main/base.html'%}

{% block css %}
    input[type=number] {
            background-color: #FFFFFF;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<table id="productTable">
    <thead>
    <tr>
        <th>ID Товара</th>
        <th>Название товара</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Остаток</th>
        <th>Общая Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for detail in order_detail %}
    <tr>
        <td>{{ detail.product.id }}</td>
        <td>{{ detail.product.name }}</td>
        <td>{{ detail.product.description }}</td>
        <td>{{ detail.product.price }}</td>
        <td>{{ detail.quantity }}</td>
        <td>{{ detail.product.quantity }}</td>
        <td>{{ detail.total_amount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<form action="{% url 'main:order_detail' order_id product_id %}" method="post">
    {% csrf_token %}
    {{ product_form }}
    {{ quantity_form }}
    {{ error }}
<!--    {% if product_form.errors %}-->
<!--        {% for field in product_form %}-->
<!--            {% for error in field.errors %}-->
<!--                <div class="alert alert-danger">-->
<!--                    <strong>{{ error|escape }}</strong>-->
<!--                </div>-->
<!--            {% endfor %}-->
<!--        {% endfor %}-->
<!--        {% for error in form.non_field_errors %}-->
<!--            <div class="alert alert-danger">-->
<!--                <strong>{{ error|escape }}</strong>-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--{% endif %}-->

    <button type="submit">Добавить Товар</button>
    <a href="{% url 'main:index' %}" class="btn">Сохранить</a>
</form>
{% if flag %}
<p>
    <a href="{% url 'main:barter' order_id %}">Товары для Бартера</a>
</p>
{% endif %}
{% endblock %}