{% extends 'main/base.html'%}

{% block content %}
<h1>{{ title }}</h1>
<table id="productTable">
    <caption>Детали заказа</caption>
    <thead>
    <tr>
        <th>ID Товара</th>
        <th>Название товара</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Общая Сумма</th>
    </tr>
    </thead>
    <tbody>
    {% for detail in order_detail %}
    <tr>
        <td>{{ detail.product.id }}</td>
        <td>{{ detail.product.name }}</td>
        <td>{{ detail.product.description }}</td>
        <td>{{ detail.product.price }}</td>
        <td>{{ detail.quantity }}</td>
        <td>{{ detail.total_amount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<p>
    <a href="{% url 'main:customer_order' customer_id %}" class="btn">Выйти</a>
</p>
{% endblock %}